.nav-bar {
	position: absolute;
	left: 10%;
}
.support {
	position: relative;
	left: 64%;
	height: 14px;
	width: 43px;
	color: #AEB5BB;
	font-family: Roboto;
	font-size: 12px;
	line-height: 14px;
}
.footer {
	position: relative;
    top: 400px;
	height: 59px;
	width: 1440px;
	background-color: #F7F7F7;
}
.hero-position{
    position: absolute;
    top:100px;
}
.alexa-teach-me-2018 {
	height: 14px;
	width: 222px;
	color: #AEB5BB;
	font-family: Roboto;
	font-size: 12px;
	line-height: 14px;
}
.terms-conditions {
	position: relative;
	left: 60%;
	height: 14px;
	width: 105px;
	color: #AEB5BB;
	font-family: Roboto;
	font-size: 12px;
	line-height: 14px;
}
.privacy {
	position: relative;
	left: 62%;
	height: 14px;
	width: 39px;
	color: #AEB5BB;
	font-family: Roboto;
	font-size: 12px;
	line-height: 14px;
}
.chapter_position{
	position: relative;
	top: 400px;
	left:25%;
}
ul li {	
	margin: 20px;
	list-style-type: none;
}
.chapter-i {
	position: relative;
	left: 0%;
	top:40px;
	height: 33px;
	width: 699px;
	color: #006FFF;
	font-family: Roboto;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1.1px;
	line-height: 11px;
}
.welcome-to-desiclass {
	height: 33px;
	width: 812px;
	color: #06102B;
	font-family: Roboto;
	font-size: 24px;
	font-weight: bold;
	line-height: 38px;
}
.it-s-hard-to-say-whe {
	height: 69px;
	width: 699px;
	color: #AEB5BB;
	font-family: Roboto;
	font-size: 14px;
	line-height: 23px;
}
.btns-secondary {
	height: 33px;
    width: 240px;
    position: relative;
    left: 40%;
    bottom: 80px;
	color: #006FFF;
}
.btn_start {
	position: absolute;
	top: -70px;
	position: relative;
	left:60%;
	color : #006FFF;
}
.btn_start:hover {
	position: absolute;
	top: -70px;
	position: relative;
	left:60%;
	color : white;
	background-color: #006FFF;
}
.rectangle {
	height: 26px;
	width: 100px;
	border-radius: 5px;
	background: linear-gradient(270deg, #B465DA 0%, #CF6CC9 28.04%, #EE609C 67.6%, #EE609C 100%);
}