<!--
  This is the main component displayed to ther user. It is linked to the 'courses'
  page in the navigation bar. It contains some components, including the list of 
  courses categories. Every category links to the courses list, by category.
  Categories can be searched through, and there's a link to display more categories.
-->

<div class="container nav-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-page-header></app-page-header>
        <app-hero [childMessage1]="parentMessage1" [childMessage2]="parentMessage2"></app-hero>
      </div>

      <div class="center2">
        <form>
          <input class="rectangle-7 " type="search" placeholder="search here">
          <input class="rectangle-7-copy btn btn-primary" clickable type="button" value="Search">
        </form>
      </div>

      <div class="container">
        <div class="btn-group">
          <ul style="display: inline;" *ngFor="let course of courses let i=index;">
            <button [ngStyle]="ColorObj" *ngIf="i<limit" style="margin:20px;">{{course}}</button>

          </ul>
        </div>
        <button *ngIf="limit < courses.length" class="btns-secondary" (click)="DiscoverMore()">Discover more</button>
        <footer class="footer">
          <div class="container">
            <p>
              <span class="alexa-teach-me-2018">Alexia Teach Me 2018. All rights reserved</span>
              <span class="terms-conditions">Terms & Condition</span>
              <span class="privacy">Privacy</span>
              <span class="support">Support</span>
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>