<!--
  This is the main component displayed to ther user. It is linked to the 'courses'
  page in the navigation bar. It contains some components, including the list of 
  courses categories. Every category links to the courses list, by category.
  Categories can be searched through, and there's a link to display more categories.
-->

<!-- <div class="container nav-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> -->
        <!-- <app-hero [childMessage1]="parentMessage1" [childMessage2]="parentMessage2"></app-hero>
      </div>

      <div class="center2">
        <div class="group-5 container">
          <form>
            <input class="rectangle-7 " [(ngModel)]="searchText" name="searchInput" type="search" placeholder="search here...">
            <input class="rectangle-7-copy btn btn-primary" (click)="searchAllow = searchText;" type="button" value="SEARCH">
              -->
            <!-- <button  class="btn create-btn" type="submit" (click)="createQuestion()" >
              <span class="create-txt">
                Create
              </span>
              <span class="glyphicon glyphicon-plus-sign plus"></span>
            </button>
           
          </form>
        </div>
      </div>
      <div class="container">
        <div class="btn-group">
         
           <div *ngIf="show"> -->
              <!-- <input type="submit" (click)="addAnswer()" class="addQ " value="+"> -->
<!--        
              <div class="question_position">
                <div class="createB">
                  <span class="Q">Course:</span>
                  <input [(ngModel)]="newTitle" class="new-title">
                  <input type="submit"  class="saveB" value="Save" (click) = "  saveCourse() ">
                </div>
                <div *ngFor="let answer of newAnswers; let i=index" class="list createB2">
                </div>
              </div>
            </div>
           
          <ul style="display: inline;" *ngFor="let course of categories |  filter : searchAllow ; let i=index">
            
            

            <button (click)="getCourseid(course.id)" [ngStyle]="RandomColor" *ngIf="i < limit" routerLink="/courses" style="margin:20px;">{{course.name | uppercase}}</button>

          </ul>
        </div>
        <footer class="footer">
          <div class="container ">
            <button *ngIf="limit < courses.length" class="btns-secondary " (click)="DiscoverMore() ">Discover more</button>
            <p>
              <span class="alexa-teach-me-2018 ">Alexia Teach Me 2018. All rights reserved.</span>
              <span class="terms-conditions ">Terms & Conditions</span>
              <span class="privacy ">Privacy</span>
              <span class="support ">Support</span>
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div> -->
<app-page-header></app-page-header>
<div class="dashboard_v1">
<section class="section1">
 <div class="top">
     <br><form class="" action="Add_service">
     <input type="submit" value="+" class="add"><br>
     <h5 class="service">New service</h5>
     </form>
 </div>

 <div class="service_box">
  <div class="title">
      <h1>Name of the service</h1>
      <img class="right_icons" src="../assets/trash.png"> 
      <img class="right_icons" src="../assets/edit.png">
    </div>
   <section class="section2"><br>
     <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nulla nisl, pretium in sagittis finibus, consectetur aliquet dolor. Maecenas non tincidunt urna. Proin eu magna eget purus dapibus convallis. Phasellus rutrum nibh et velit varius, a molestie diam lobortis. Quisque luctus leo quam, a fermentum tellus ullamcorper et. Quisque blandit imperdiet felis at fermentum. Vestibulum sit amet erat augue. Sed sed malesuada nibh. Nunc sollicitudin tristique diam et tempus. Sed sagittis vitae nisl quis vestibulum. 
     </h5><br>  
     <div class="sd1">
       <div class="sd11">
         <h2>Mon - Fri, 08:00 - 16:00</h2>
         <h5>Availability</h5>
       </div>
       <div class="sd12">
         <h2>6 available</h2>
         <h5>Spaces</h5>
       </div>
     </div> 
     <div class="sd2">
       <div class="sd21">
         <h2>1 hour</h2>
         <h5>Duration</h5>
       </div>

       <div class="sd22">
         <h2>210 lei</h2>
         <h5>Price</h5>
       </div>
     </div>  
     <br>
   </section>
 </div>
</section>
</div>