<!--
  This component represents the header of the page with the navigation bar. It
  should be displayed on all pages, except for the login ones and should conditionally
  display certain links according to the logged in user role (admin / user).
-->
<nav class="navbar navbar-default nav-bar">
  <div class="container-fluid">
    <div class="container">

      <div class="navbar-header">
        <a routerLink="/dashboard" class="container navbar-brand"></a>
      </div>

      <div class="navbar-default">
        <ul class="nav navbar-nav navbar-right">
          <li class="main-user"><a routerLink="/account">{{name}}</a></li>
          <li class="image-user"><a routerLink="/account"></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="user-course"><a routerLink="/courses">Courses</a></li>
          <li class="user-new"><a href="#">What's new</a></li>
          <li class="user-about"><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>