<!--
  This is the hero / banner component. It is used on various pages, displaying an
  image with some specific text on it. The text varies according to the container
  component.
-->

<div class="center1">
  <h1 class="browse-through-best">{{childMessage1}}</h1>
  <h4 class="pick-the-one-you-lik">{{childMessage2}}</h4>
  <h1 class="browse-through-best2">{{childMessage3}}</h1>
  <h4 class="pick-the-one-you-lik2">{{childMessage4}}</h4>
  <h1 class="finance rectangle">{{childMessage5}}</h1>
</div>