
input {
    display: block;
}
.sign-in {
	height: 24px;
	width: 104px;
	color: #F7F7F7;
	font-family: Roboto;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}
.sign-up {
	height: 48px;
	width: 52px;
	color: #FFFFFF;
	font-family: Roboto;
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}
.email-adress {
	height: 24px;
	width: 104px;
	color: #AEB5BB;
	font-family: Roboto;
	font-size: 18px;
	line-height: 24px;
}
.rectangle-2a {
    margin-bottom: 5px;
    height: 45px;
    width: 300px;
    border: 1px solid #AEB5BB;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.rectangle-2b {
    height: 45px;
    width: 300px;
    border-radius: 5px;
    background-color: #006FFF;
    margin-top: 30px;
}

.login-to-your-accoun {
    position: relative;
	height: 96px;
	width: 400px;
	color: white;
	font-family: Roboto;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
}
.welcome-back {
    position: relative;
    left:100px;
    top: 40px;
    text-align: center;
	height: 52px;
	width: 180px;
	opacity: 0.5;
	color: white;
	font-family: Roboto;
	font-size: 20px;
	line-height: 26px;
}
.forgot-password-res {
	height: 19px;
	width: 165px;
	color: #F7F7F7;
	font-family: Roboto;
	font-size: 12px;
	line-height: 19px;
}
.don-t-have-an-accoun {
	height: 48px;
    width: 250px;
    margin-right: 10px;
	color: #F7F7F7;
	font-family: Roboto;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.form-position {
   top: 428px;
    
}
.info-position {
    
    top: 430px;
}
.footer-position {
    position: absolute;
    top:965px;
    left: 690px;
}
.posb {
    position: absolute;
    top: 361px;
    left: 950px;
}
body{
    background-color: #020e30;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url('../../../../assets/bg_image.png');
    
 }
 .container{
    left: -51px;
    top: 16px;
    width: 1589px;
    height: 1061px;
    opacity: 5%;
  }


.inline
{
    display: inline;
}

#icon{
        background-image:url("../../../../assets/eye.jpg"); 
        background-repeat: no-repeat; 
        height: 40px;
        width: 40px;
        background-position: 0px 0px;
        background-size: 20px 20px;
        z-index:1;
        }

#login {
   display: block;
}
#create {
    display: none;
}
.rectangle {
	height: 33px;
	width: 98px;
	border-radius: 5px;
	background-color: #006FFF;
}
.footer{
    position: absolute;
    top: 1000px;
    left: 690px;;
}
.btn-reset{
    height: 45px;
    width: 300px;
    position: relative;
    left: 830px;
    top: 380px;
    opacity: 100%;
    background-color: #0066ff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

.reset-pass-p{
    position: relative;
    height: 42px;
    width: 510px;
    left:260px;
    top: 480px;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 34px;
    line-height: 22px;
    text-align: center;
   

}
.reset-pass-p2{
    position: relative;
    height: 45px;
    width: 150px;
    left: 447.5px;
    top: 500px;
    opacity: 0.5;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

}
.text-1{
    position: relative;
    height: 45px;
    width: 300px; 
    left: 850px;
    top: 345px;
}
.text-2{
    position: relative;
    height: 45px;
    width: 300px; 
    left: 850px;
    top: 355px;
}

.terms-conditions{
    position: relative;
    height: 16px;
    width: 230px;
    left: 905px;
    top: 554px;
    color: #F7F7F7;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}

.check{
position: relative;
height: 19px;
width: 19px;
left: 880px;
top: 425px;
border-radius: 5px;
background-color: #FFFFFF;

}

.email{
    position: relative;
    height: 45px;
    width: 300px; 
    left: 950px;
    top: 545px;
}
.btn-send-email{
    height: 45px;
    width: 300px;
    position: relative;
    left: 950px;
    top: 580px;
    opacity: 100%;
    background-color: #0066ff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}
.reset-email-p{
    position: relative;
        height: 42px;
        width: 510px;
        left:380px;
        top: 465px;
        color: #F7F7F7;
        font-family: Roboto;
        font-size: 34px;
        line-height: 22px;
        text-align: center;

}

#maindiv {
    background-color: #020e30;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: url('../../../../assets/bg_image.png');
    width:100%;
    height:100%;
}
