<div class="container-fluid" >
     <!-- login page -->
    <div  class="container   " *ngIf="loginContent" > 
        <img src="../assets/booking_logo.png" alt="book_img" class="book_img"/>
        <div class="errGlobal alert-danger">{{errC}}</div>
        <form name="validformLogin"  #validformLogin="ngForm" class="div">
            <label class="date"> Email address </label>
            <input class="tbox" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel" type="email">
                    <!-- <input form-group required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" class ="rectangle-2a email-adress"  (click)="log(emaill)"  type ="emaill"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel"   placeholder="  email adress" >-->
            <div class="err-email-login  alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                <div *ngIf="emaill.errors.required ">Email is required</div>
                <div *ngIf="emaill.errors.pattern  ">Email invalid</div>
            </div> 
            <label class="date">Password</label>
            <input class="tbox space-between" type="{{showHide ? 'password' : 'text'}}" required [(ngModel)]=loginInputPassword name="passwordl" #passwordl= "ngModel">
                <!-- <input required class = "rectangle-2a email-adress" type="{{pass}}" [(ngModel)]=loginInputPassword name="passwordl" #passwordl= "ngModel" (click)="log(passwordl)"placeholder="  password">-->
            <i class="fa { showHide ? 'fa-eye' : 'fa-eye-slash'} glyphicon glyphicon-eye-open visiblePassLogin " (mousedown)="showMyPass()"  ></i>
            <div class="err-password-login  alert-danger" *ngIf="passwordl.touched && !passwordl.valid" >
                <div *ngIf="passwordl.errors.required">Password is required</div>
            </div>
                <!-- <span class="visiblePass"><i (click)="VisiblePass()" class="glyphicon glyphicon-eye-open"></i></span> -->
                    <!-- <input class = "rectangle-2b btn btn-primary sign-in" [(disabled)]="!validformLogin.valid" type="submit" value="SIGN IN"> -->
            <input type="submit" (click)="loginUser()"  class="book_btn" [(disabled)]="!validformLogin.valid"  value="LOGIN">
                    <!-- <p class="forgot-password-res"><span class="text" >Recover password &nbsp;&nbsp;</span> -->
            <a  class="recover-password-txt" (click)="manageForms(false, false, true)"><br>Recover password</a>
            <a  class="register-txt" (click)="manageForms(false, true, false)"><br>Register</a>
        </form>
    </div> <!-- close login -->
 
<!-- create a new account -->
    <div class="container " *ngIf="registerContent">
        <img src="../assets/booking_logo.png" alt="book_img" class="book_img"/>
        <div class="errGlobal alert-danger">{{errC}}</div>
        <form name="validformLogin"  #validformLogin="ngForm" class="div">
            <label class="date" >Your name</label>
            <input class="tbox" required pattern="[A-Za-z\s]+$" [(ngModel)]=createinInputfirst name="firstName"  #firstName="ngModel" type="text" >
                    <!-- <input required pattern="[A-Za-z\s]+$" [(ngModel)]=createinInputfirst name="firstName"  #firstName="ngModel" (change)="log(firstName)" class = "rectangle-2a email-adress" type ="text" placeholder="  first name"> -->
                <div class="err-name-create  alert-danger" *ngIf="firstName.touched && !firstName.valid" >
                    <div *ngIf="firstName.errors.required">Name is required</div>
                    <div *ngIf="firstName.errors.pattern">Must contain only characters</div>
                </div> 
                <label class="date"> Email address </label>
                <input class="tbox" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel" type="email">
                        <!-- <input form-group required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" class ="rectangle-2a email-adress"  (click)="log(emaill)"  type ="emaill"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel"   placeholder="  email adress" >-->
                <div class="err-email-create alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                    <div *ngIf="emaill.errors.required ">Email is required</div>
                    <div *ngIf="emaill.errors.pattern  ">Email invalid</div>
                </div> 
                <label class="date">Password</label>
                <input class="tbox space-between" type="{{showHidecreate ? 'password' : 'text'}}" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%.^#:;,\|+_-`~*?&])[A-Za-z\d$@$!%.^#;:,\|+_-`~*?&]{12,50}" [(ngModel)]=loginInputPassword name="passwordl" #passwordl= "ngModel">
                                <!-- <input required class = "rectangle-2a email-adress" type="{{pass}}" [(ngModel)]=loginInputPassword name="passwordl" #passwordl= "ngModel" (click)="log(passwordl)"placeholder="  password">-->
                <i (mousedown)="showMyPassCreate()" class="fa {{ showHidecreate ? 'fa-eye' : 'fa-eye-slash'}} glyphicon glyphicon-eye-open visiblePassCreate "></i>
                <div [ngClass]="passwordl.errors.pattern ? 'err-password-createlong' : ''  " class="err-password-create  alert-danger" *ngIf="passwordl.touched && !passwordl.valid" >
                    <div *ngIf="passwordl.errors.required">Password is required</div>
                    <div *ngIf="passwordl.errors.pattern">It must contain upper-case, lower-case, numbers, special characters and length should be at least 8 characters</div>    
                </div>           
                <input type="submit" (click)="loginUser()"  class="book_btn" [(disabled)]="!validformLogin.valid"  value="REGISTER">
                    <!-- <p class="forgot-password-res"><span class="text" >Recover password &nbsp;&nbsp;</span> -->
                <a  class="account-txt" (click)="manageForms(true, false, false)"><br>You already have an account?</a>
        </form>
    </div> 
    <div class="container " *ngIf="resetContent">
        <img src="../assets/booking_logo.png" alt="book_img" class="book_img"/>
        <div class="errGlobal alert-danger">{{errC}}</div>
        <form name="validformLogin"  #validformLogin="ngForm" class="div">
            <label class="date"> Email address </label>
            <input class="tbox" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel" type="email">
                    <!-- <input form-group required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" class ="rectangle-2a email-adress"  (click)="log(emaill)"  type ="emaill"  [(ngModel)]=loginInputEmail  name="email"  #emaill= "ngModel"   placeholder="  email adress" >-->
            <div class="err-email-recover  alert-danger " *ngIf="emaill.touched  && !emaill.valid ">
                <div *ngIf="emaill.errors.required ">Email is required</div>
                <div *ngIf="emaill.errors.pattern  ">Email invalid</div>
            </div> 
                <!-- <span class="visiblePass"><i (click)="VisiblePass()" class="glyphicon glyphicon-eye-open"></i></span> -->
                    <!-- <input class = "rectangle-2b btn btn-primary sign-in" [(disabled)]="!validformLogin.valid" type="submit" value="SIGN IN"> -->
            <input type="submit" (click)="loginUser()"  class="book_btn" [(disabled)]="!validformLogin.valid"  value="RECOVER">
                    <!-- <p class="forgot-password-res"><span class="text" >Recover password &nbsp;&nbsp;</span> -->
        </form>
    </div>

<!--close create-->
<!-- div-ul create -->
<!-- div-ul create -->
    <!-- <div (submit)="add($event)" class="container-fluid {{state1}}">
        <div class="row height">
            <div class="col-xs-6 col-sm-6 info-position">
                <div class="welcome-back2"> You're one step closer</div>
                <h1 class="login-to-your-accoun">Create a new account</h1>
            </div>
            <div  class="col-xs-6 col-sm-6 form-position">
                <div class="errGlobal alert-danger">{{errC}}</div>
                <form name="validform"  #validform="ngForm"  >
                    <input required pattern="[A-Za-z\s]+$" [(ngModel)]=createinInputfirst name="firstName"  #firstName="ngModel" (change)="log(firstName)" class = "rectangle-2a email-adress" type ="text" placeholder="  first name">
                        <div class="errf  alert-danger" *ngIf="firstName.touched && !firstName.valid" >
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                            <div *ngIf="firstName.errors.pattern">Must contain only characters</div>
                        </div> 
                    <input required pattern="[A-Za-z\s]+$" [(ngModel)]=createinInputlast name="secondName" #secondName="ngModel" (change)="log(secondName)" class = "rectangle-2a email-adress" type ="text" placeholder="  last name">
                    <div class="errs  alert-danger" *ngIf="secondName.touched && !secondName.valid" >
                        <div *ngIf="secondName.errors.required">Second Name is required</div>
                        <div *ngIf="secondName.errors.pattern">Must contain only characters</div>
                    </div>    
                    <input required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" class = "rectangle-2a email-adress" type ="email" placeholder="  email adress" [(ngModel)]=createinInputEmail name="email" #email= "ngModel" (click)="log(email)" placeholder="  email adress" >
                    <div class=" erre  alert-danger " *ngIf="email.touched  && !email.valid ">
                        <div *ngIf="email.errors.required ">Email is required</div>
                        <div *ngIf="email.errors.pattern  ">Email invalid</div>
                    </div>  
                    <input required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%.^#:;,\|+_-`~*?&])[A-Za-z\d$@$!%.^#;:,\|+_-`~*?&]{8,50}" class = "rectangle-2a email-adress" type="{{pass1}}" [(ngModel)]=createinInputPassword name="password" #password= "ngModel" (click)="log(password)"placeholder="  password">
                    <div [ngClass]="password.errors.pattern ? 'errcplong' : '' " class="errcp  alert-danger" *ngIf="password.touched && !password.valid" >
                            <div *ngIf="password.errors.required">Password is required</div>
                            <div *ngIf="password.errors.pattern">It must contain upper-case, lower-case, numbers, special characters and length should be at least 8 characters</div>    
                    </div>
                    <span class="visiblePassCreate"><i (click)="VisiblePass1()" class="glyphicon glyphicon-eye-open"></i></span>
                    <div >
                    <input class = "rectangle-2b btn btn-primary sign-in" [(disabled)]="!validform.valid" type="submit"  value="CREATE ACCOUNT"> <!--ng-click="valid=checked"-->
                    <!-- </div>
                    <div class="checkbox" >
                        <input  type="checkbox"  required [(ngModel)]="check" name="checkbox" #checkbox= "ngModel"> 
                        <span  > I agree with Terms & Conditions  </span>
                    </div>

                        <div  class="errGlobal  alert-danger" *ngIf=" !checkbox.valid && checkVerify" >
                                <div *ngIf="checkbox.errors.required">Checkbox is required</div>
                        </div> 
                </form>
             </div>
        </div>
    </div>  --> 
<!-- resetare password -->
<!--  reset password -->

    <!-- <div (submit)="ResetComplet($event)" class="container {{state4}}" >
        <div class="row">
            <div class="col-xs-6 col-sm-6 info-position">
                <h4 class="welcome-back2">You`re sorry</h4>
                <h1 class="login-to-your-accoun">Let`s reset your password</h1>
            </div>
            <div  class="col-xs-6 col-sm-6 form-position">
              <form name="validformReset"  #validformReset="ngForm" >
                <div class="errGlobal alert-danger">{{errC}}</div>
                <input required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}" class = "rectangle-2a email-adress" type ="email" [(ngModel)]=resetinInputEmail name="email1" #email1= "ngModel" (click)="log(email1)" placeholder="  email adress" >
                <div class=" errf  alert-danger " *ngIf="email1.touched  && !email1.valid ">
                    <div *ngIf="email1.errors.required ">Email is required</div>
                    <div *ngIf="email1.errors.pattern  ">Email invalid</div>
                </div> 
                <input required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%.^#:;,\|+_-`~*?&])[A-Za-z\d$@$!%.^#;:,\|+_-`~*?&]{8,50}"  class = "rectangle-2a email-adress" type="{{pass2}}" [(ngModel)]=resetinInputPassword name="password1" #password1= "ngModel" (click)="log(password1)" placeholder="  new password">
                <div [ngClass]=" password1.errors.pattern ? 'errelong' : ''  " class="errre  alert-danger" *ngIf="password1.touched && !password1.valid" >
                        <div *ngIf="password1.errors.required">Password is required</div>
                        <div *ngIf="password1.errors.pattern">It must contain upper-case, lower-case, numbers, special characters and length should be at least 8 characters</div>    
                </div>
                <span class="visiblePass2"><i (click)="VisiblePass2()" class="glyphicon glyphicon-eye-open"></i></span>
                <input required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%.^#:;,\|+_-`~*?&])[A-Za-z\d$@$!%.^#;:,\|+_-`~*?&]{8,50}" class = "rectangle-2a email-adress" type="{{pass3}}" [(ngModel)]=resetinInputEmailConfirm name="password2" #password2= "ngModel" (click)="log(password2)"placeholder="  confirm password">
                <div [ngClass]=" password1.errors.pattern ? 'errrplong' : ''  " class="errrp  alert-danger" *ngIf="password2.touched && !password2.valid" >
                        <div *ngIf="password2.errors.required">Password is required</div>
                        <div *ngIf="password2.errors.pattern">It must contain upper-case, lower-case, numbers, special characters and length should be at least 8 characters</div>    
                </div>
                <span class="visiblePass1"><i (click)="VisiblePass3()" class="glyphicon glyphicon-eye-open"></i></span>
                <input class = "rectangle-2b btn btn-primary sign-in" [disabled]="!validformReset.valid" type="submit"value="RESET PASSWORD">
              </form>
            </div>
        </div>
    </div>  -->
</div>




