<!--
  This component relates to all the login screens: login, reset
  password, create new account. The displayed contents vary according
  to the accessed functionality.
-->
<body>
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <p class="reset-pass-p2">You’re sorry</p>
        <p class="reset-pass-p">Let’s reset your password</p>
        <p class="terms-conditions">I agree with Terms & Conditions</p>
        
        <input type="password" class="form-control text-1" placeholder="new password">
        <input type="password" class="form-control text-2" placeholder="confirm password">
        <input type="checkbox" class="check">
        
      <button class="btn-reset btn-primary btn-lg" type="submit">Reset Password</button>
     
  
      </div>
    </div>
  </div>
  
</body>
