<!--
  This is the component that lists the chapters of a course. Every chapter has a
  description and a button that links to the chapter questions (based on an id).
-->
<div class="container nav-bar">
  <div class="row">
    <div class="col-md-12">
        <app-page-header></app-page-header>
        <app-hero class="hero-position" [childMessage1]="parentMessage1" [childMessage2]="parentMessage2"></app-hero>
        <div class="container">
          <ul>
              <li class="chapter_position" *ngFor="let chapter of chapters">{{chapter}}</li>
          </ul>
        </div>
        <footer class="footer">
            <div class="container">
                <p><span class="alexa-teach-me-2018">Alexia Teach Me 2018. All rights reserved</span><span class="terms-conditions">Terms & Condition</span><span class="privacy">Privacy</span>
                  <span class="support">Support</span></p>
            </div>
        </footer>
    </div>
  </div>

</div>
